@charset "utf-8";

@keyframes text-reveal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-typing {
    from, to {
        border-right-color: transparent;
    }

    50% {
        border-right-color: #1e3a5f;
    }
}

@keyframes accent-reveal {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes glitch-effect {
    0% {
        transform: translate(0, 0) skewX(0deg);
        filter: hue-rotate(0deg);
    }

    15% {
        transform: translate(2px, 2px) skewX(10deg);
    }

    30% {
        transform: translate(-3px, 1px) skewX(0deg);
        filter: hue-rotate(90deg);
    }

    45% {
        transform: translate(1px, -3px) skewX(5deg);
    }

    60% {
        transform: translate(4px, 4px) skewX(-10deg);
    }

    75% {
        transform: translate(-2px, -2px) skewX(0deg);
        filter: hue-rotate(180deg);
    }

    90% {
        transform: translate(0, 0) skewS(-5deg);
    }

    100% {
        transform: translate(0, 0) skewX(0deg);
        filter: hue-rotate(0deg);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: trnaslateY(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: trnaslateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* 
==============================
    SlideDown
==============================
*/

.SlideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    95% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    95% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* 
==============================
    SlideLeft
==============================
*/

.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 1s;
    -webkit-animation-name: slideLeft;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }

    50% {
        transform: translateX(-8%);
    }

    65% {
        transform: translateX(4%);
    }

    80% {
        transform: translateX(-4%);
    }

    95% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }

    50% {
        transform: translateX(-8%);
    }

    65% {
        transform: translateX(4%);
    }

    80% {
        transform: translateX(-4%);
    }

    95% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0%);
    }
}


/*
==============================================
slideExpandUp
==============================================
*/


.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}