@charset "utf-8";

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #1e3a5f;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.left-section {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 18vw;
    border-right: 1px solid #ddd;
}

.left-section #header {
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section #header button {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    position: relative;
    transition: all .5s ease;
}

.left-section #header button::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: rgba(30, 58, 95, 0.7);
    opacity: 0;
    transition: all .5s ease;
    z-index: -1;
}

.left-section #header button:hover {
    color: #faf8f5;
}

.left-section #header button:hover::after {
    width: 100%;
    opacity: 1;
}

.left-section .left .section1 {
    width: 100%;
}

.left-section .left .section1 ul {
    width: 100%;
    margin: 0 auto 1rem 0;
}

.left-section .left .section1 ul li {
    border-bottom: 1px solid #ddd;
    height: 3rem;
    position: relative;
    text-indent: 1rem;
}

.left-section .left .section1 ul li a {
    display: block;
    font-size: 0.8rem;
    color: #000;
    font-weight: 300;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    line-height: 3rem;
}

.left-section .left .section1 ul li a::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: rgba(30, 58, 95, 0.7);
    opacity: 0;
    transition: all .5s ease;
    z-index: -1;
}

.left-section .left .section1 ul li:hover a {
    color: #faf8f5;
}

.left-section .left .section1 ul li:hover a::after {
    width: 100%;
    opacity: 1;
}

.left-section .left .section1 ul li.selected {
    background: rgba(30, 58, 95, 0.7);
}

.left-section .left .section1 ul li.selected a {
    color: #faf8f5;
}

.left-section .left .section1 ul li.selected:hover a::after {
    opacity: 0;
}

.left-section .left .clear {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;
}

.left-section .left .section2 {
    width: 100%;
}

.left-section .left .section2 ul {
    width: 100%;
    margin: 0 auto 1rem 0;
}

.left-section .left .section2 ul li {
    border-bottom: 1px solid #ddd;
    height: 3rem;
    position: relative;
    text-indent: 1rem;
}

.left-section .left .section2 ul li a {
    display: block;
    font-size: 0.8rem;
    color: #000;
    font-weight: 300;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    line-height: 3rem;
}

.left-section .left .section2 ul li a::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: rgba(30, 58, 95, 0.7);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
}

.left-section .left .section2 ul li:hover a {
    color: #faf8f5;
}

.left-section .left .section2 ul li:hover a::after {
    width: 100%;
    opacity: 1;
}

.left-section .left .dark {
    width: 100%;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 85px;
    left: 0;
    height: 3rem;
}

.left-section .left .dark .dlBtn {
    width: 100%;
    height: 100%;
    text-indent: 1rem;
    line-height: 3rem;
    font-size: 0.8rem;
    color: #000;
    font-weight: 300;
    cursor: pointer;
    transition: all .5s ease;
    position: relative;
}

.left-section .left .dark .dlBtn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: rgba(30, 58, 95, 0.7);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
}

.left-section .left .dark .dlBtn:hover {
    color: #faf8f5;
}

.left-section .left .dark .dlBtn:hover::after {
    width: 100%;
    opacity: 1;
}

.left-section .left #footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 5vh;
    border-top: 1px solid #ddd;
    text-indent: 2%;
}

.left-section .left #footer .footer1 {
    width: 100%;
    margin-top: 0.7rem;
}

.left-section .left #footer .footer1 p {
    font-size: 0.7rem;
    font-size: 300;
    color: #1E3A5F;
    font-weight: 400;
    display: block;
    margin-bottom: 0.4rem;
}

.left-section .left #footer .footer2 a {
    color: #1E3A5F;
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 400;
    transition: all .3s ease;
}

.left-section .left #footer .footer2 a:hover {
    color: #9eb7da;
}

.left-section .left #footer .footer3 p {
    font-size: 0.5rem;
    color: #9c9c9c;
    display: block;
    margin-top: 0.7rem;
    font-weight: 200;
}

.main {
    margin-left: 20vw;
}

.main .main-section {
    width: 100%;
    margin-top: 2rem;
}

.main-title {
    position: fixed;
    top: 0;
    left: 18%;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 99;
}

.main-title h4 {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #1e3a5f;
    margin-left: 10px;
}